/* @import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  --card-height: 380px;
  --card-width: calc(var(--card-height) / 1.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: 'Rajdhani', system-ui;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  /* height: 100vh; */
  /* width: 100%; */
  background: #000;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 20px;
   background: 
    linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.0) 20%),
    linear-gradient(90deg, #000000 10%, #b42949 45%, #423b8d 50%, #000000);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100%;
  background-position: top bottom;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Rajdhani", system-ui;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  /* background-color: antiquewhite; */
}

.logo {
  /* font-size: 18px;
  font-weight: bold; */
  /* background-color: blueviolet; */
  height: 30px;
  /* width: 50px; */
}

.logo img {
  height: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 6rem;
  font-size: 15px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  /* gap: 30px; */
  height: 100%;
  width: 100%;
  /* background-color: aliceblue; */
  /* overflow: hidden; */
}

.left-panel {
  flex: 1;
  /* max-width: 200px; */
  width: 20%;
  height: 100%;
  /* background-color: aqua; */
}

/* .trailer-card {
  transform: translate(7%, 75%);
  width: 75%;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  background: blueviolet;
}

.trailer-card video {
  width: 100%;
  height: 100%;
  display: block;
  background-color: azure;
}

.trailer-card::after {
  content: 'NEW TRAILER';
  z-index: 10;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  background-color: pink;
} */

/* .trailer-label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
} */

.trailer-card {
  position: relative;
  transform: translate(10%, 75%);
  width: 75%;
  /* height: fit-content; */
  border-radius: 12px;
  overflow: hidden;
  background: #000;
  /* box-shadow: 0 0 12px #aa00ff88; */
}

.trailer-card video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.overlay {
  /* display: ; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.6));
  transition: background 0.3s ease;
}

.play-button {
  font-size: 36px;
  color: white;
  background: transparent;
  border: none;
  padding: 10px 20px;
  /* border-radius: 65%; */
  cursor: pointer;
  transition: color 0.3s ease;
  transition: opacity 0.3s ease;
}

.play-button:hover {
  /* background: rgba(255, 0, 90, 1); */
  color: #929191;
}

.play-button.hidden {
  opacity: 0;
  pointer-events: none;
}

/* .trailer-label {
  display: inline;
  text-align: center;
  position: absolute;
  bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  /* font-family: "Rajdhani", system-ui;
  /* font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 0 0 5px #000;
} */

.center-panel {
  flex: 1;
  text-align: center;
  height: 80%;
  width: 60%;
  /* background-color:beige; */
}

/* .miles-img {
    background-color: red;
  height: 50%;
  object-fit: contain;
} */

.miles-img img {
    /* border: red solid 5px; */
    height: 110vh;
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
    margin: auto;
}

.right-panel {
  flex: 1;
  /* max-width: 400px; */
  width: 20%;
  /* background: pink; */
}

.title img {
  width: 100%;
}

.description {
  position: relative;
  width: 55%;
  font-size: 14px;
  margin: auto;
  color: #ccc;
}

.description::before {
  content: "\"";
  position: absolute;
  transform: translate(-140%, -30%);
  font-size: 36px;
}

.description::after {
  content: "\"";
  position: absolute;
  transform: translate(95%, -15%);
  font-size: 38px;
}

/* ========== divider ============ */
.divider {
  content: '';
  display: block;
  position: relative;
  top: -50px;
  width: 100%;
  height: 50px;
  background: linear-gradient(transparent 0%, #000);
}

/* ========== section 2 ============ */
/* .text::before {
  content: '';
  display: block;
  position: relative;
  top: -50px;
  width: 100%;
  height: 50px;
  background: linear-gradient(transparent 0%, #000);
  /* background-color: aqua;
} */

.characters h1 {
  text-align: center;
  font-family: "Bangers", system-ui;
  letter-spacing: 5px;
  margin-bottom: 8rem;
}

.character-cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-rows: repeat(2, auto);
  gap: 8rem 2rem;
  padding: 8rem;
}

.card {
  /* width: var(--card-width); */
  width: 100%;
  height: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  /* perspective: 2500px; */
  /* margin: 0 50px; */
  /* border-radius: 20px; */
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:nth-of-type(2) .title{
  width: 130%;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 105%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}