@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* =============================================
                    GENERAL 
================================================ */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: dark;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Rajdhani', system-ui;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  background: #000;
}

/* ========== divider ============ */
.divider {
  content: '';
  display: block;
  position: relative;
  top: -50px;
  width: 100%;
  height: 50px;
  background: linear-gradient(transparent 0%, #000);
}

h1 {
  text-align: center;
  font-family: "Bangers", system-ui;
  letter-spacing: 5px;
  font-size: 3rem;
  margin-bottom: 3rem;
}


/* =============================================
                    NAVBAR 
================================================ */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 2rem 10px;
  font-family: "Rajdhani", system-ui;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
}

.logo {
  height: 30px;
  /* width: 50px; */
}

.logo img {
  height: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 6rem;
  font-size: 15px;
}

a {
  color: inherit;
  cursor: pointer;
}


/* =============================================
                    HOME
================================================ */
.container {
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 20px;
   background: 
    linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0.0) 20%),
    linear-gradient(90deg, #000000 10%, #b42949 45%, #423b8d 50%, #000000);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100%;
  background-position: top bottom;
}

.main-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

/* -------- left panel ---------- */
.left-panel {
  flex: 1;
  /* max-width: 200px; */
  width: 20%;
  height: 100%;
}

.trailer-card {
  position: relative;
  transform: translate(10%, 75%);
  width: 75%;
  /* height: fit-content; */
  border-radius: 12px;
  overflow: hidden;
  background: #000;
}

.trailer-card video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.6));
}

.play-button {
  font-size: 36px;
  color: white;
  background: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  transition: opacity 0.3s ease;
}

.play-button:hover {
  color: #929191;
}

.play-button.hidden {
  opacity: 0;
  pointer-events: none;
}

/* ------------ center panel ----------- */
.center-panel {
  flex: 1;
  text-align: center;
  height: 80%;
  width: 60%;
}

.miles-img img {
    height: 110vh;
    position: absolute;
    bottom: 0;
    transform: translate(-50%);
}

/* ------------- right panel ---------- */
.right-panel {
  flex: 1;
  /* max-width: 400px; */
  width: 20%;
}

.title img {
  width: 100%;
}

.description {
  position: relative;
  width: 55%;
  font-size: 14px;
  margin: auto;
  color: #ccc;
}

.description::before {
  content: "\"";
  position: absolute;
  transform: translate(-140%, -30%);
  font-size: 36px;
}

.description::after {
  content: "\"";
  position: absolute;
  transform: translate(95%, -15%);
  font-size: 38px;
}


/* =============================================
                CHARACTERS SECTION
================================================ */
.character-cards {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-rows: repeat(2, auto);
  gap: 8rem 2rem;
  padding: 8rem;
  padding-bottom: 2rem;
}

.card {
  width: 100%;
  height: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  /* perspective: 2500px; */
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
  
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:nth-of-type(2) .title,
.card:nth-of-type(4) .title{
  width: 130%;
}
.card:nth-of-type(5) .title{
  width: 120%;
  margin-bottom: 20px;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 110%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.card:nth-of-type(4) .character,
.card:nth-of-type(5) .character,
.card:nth-of-type(6) .character {
  width: 125%;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}


/* =============================================
                SONGS SECTION 
================================================ */
.songs {
  margin: 2rem;
}
.songs-embed {
  width: 100%;
  display:flex;
  justify-content: center;
}

.songs-embed iframe {
  width: 80%;
  height: 500px;
  border-radius: 20px;
}


/* =============================================
                SNIPPETS SECTION 
================================================ */
.snippets-container {
  width: 80%;
  /* max-width: 124rem; */
  padding: 0 1rem;
  margin: 0 auto;
}

#snippets .img-slider {
  height: 30rem;
  padding: 0.5rem 0;
  position: relative;
}

/* ---- slide styles ------ */
.img-slide {
  width: 20rem;
  height: 25rem;
  position: relative;
}

.img-slide .img-slide-img img {
  width: 20rem;
  height: 25rem;
  border-radius: 2rem;
  object-fit: cover;
}

.img-slide .img-slide-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.img-slide-content .img-slide-content-bottom {
  position: absolute;
  bottom: 5rem;
  left: 2rem;
  color: #cacaca;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 0.6rem;
  border-radius: 0.7rem;
  font-size: 0.8rem;
}

.img-desc {
  /* padding-top: 1rem; */
  display: flex;
  gap: 1rem;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

/* ------- slider controls styles ---------- */
.img-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-slider-control .swiper-button-next {
  left: 63% !important;
  transform: translateX(-63%) !important;
}

.img-slider-control .slider-arrow {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  left: 37%;
  transform: translateX(-35%);
  /* transform: translateY(-10%); */
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.img-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #4b81ec;
}

.img-slider-control .slider-arrow::after {
  content: '';
}

.img-slider-control .swiper-pagination {
  position: relative;
  width: auto;
  bottom: 1rem;
}

.img-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  background-color: #fff;
}

.img-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #b42949;
}


/* =============================================
                    FOOTER 
================================================ */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
  color: #ccc;
}